span[textsize="15"] {
    font-size: 15px;
}
span[textsize="16"] {
    font-size: 16px;
}
span[textsize="17"] {
    font-size: 17px;
}
span[textsize="18"] {
    font-size: 18px;
}
span[textsize="19"] {
    font-size: 19px;
}
span[textsize="20"] {
    font-size: 20px;
}
span[textsize="21"] {
    font-size: 21px;
}
span[textsize="22"] {
    font-size: 22px;
}
span[textsize="23"] {
    font-size: 23px;
}
span[textsize="24"] {
    font-size: 24px;
}
span[textsize="25"] {
    font-size: 25px;
}
span[textsize="26"] {
    font-size: 26px;
}
span[textsize="27"] {
    font-size: 27px;
}
span[textsize="28"] {
    font-size: 28px;
}
span[textsize="29"] {
    font-size: 29px;
}
span[textsize="30"] {
    font-size: 30px;
}
span[textsize="31"] {
    font-size: 31px;
}
span[textsize="32"] {
    font-size: 32px;
}
span[textsize="33"] {
    font-size: 33px;
}
span[textsize="34"] {
    font-size: 34px;
}
span[textsize="35"] {
    font-size: 35px;
}
